<div cdkDropListGroup>
  <!-- prettier-ignore -->
  <mat-card-title>Drag and drop words into the sentence section:</mat-card-title>
  <mat-card>
      <div
        matTooltip="Adjective"
        class="word-chip" color="primary" *ngFor="let item of words" cdkDrag>
        {{ item }}
      </div>
  </mat-card>

  <mat-card-title>sentence section:</mat-card-title>

  <mat-card
    cdkDropList
    [cdkDropListData]="sentence"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="correct" *ngFor="let word of sentence">{{ word }}</div>
  </mat-card>
</div>
